@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300;500&display=swap');
*{
    font-family: 'Josefin Slab', serif;
}

a:hover{
   background-color:rgb(21, 115, 71);
   border-radius: 10%;
   text-decoration: none ;
   color: white;
}

button:hover{
   text-decoration: underline;
}

.effect:hover{
    background-color:rgb(21, 115, 71);
    color: white;
}

body{
    background: url(img/background.jpg);
    background-size: cover;
    /* background-attachment: scroll; */
}

.transparent-div{
    background:rgba(20,20,20,0.7) ;
    
}

.intro{
    margin-left: 70px;
}

.round-image{
    border-radius: 50%;
    border : 1.5rem solid grey
}

a{
    text-decoration: none;
}

.card-width{
    width: 14rem;
}

.card-image-dimension{
    width: min-content;
    height: min-content;
}

.card-image-margin-1-2{
    margin-left: 4rem;
}

.card-image-margin-3{
    margin: 1rem 0 -0.5rem 4.5rem;
}

.card-image-margin-4{
    margin: 1rem 0 -0.5rem 5rem;
}

.hr-theme-slash-2 {
    display: flex;
}

.hr-line-common{
    width: 100%;
    margin-top: 0.938rem;
    margin-bottom: 0.938rem;
    border-bottom: 0.2rem solid #000;
}
.hr-line-1{
        margin-left: 0.008rem;
        margin-right: -0.992rem;
    }

.hr-line-2 {
        margin-left: -1.992rem;
        margin-right: 1.008rem;
    }

.hr-icon {
      position: relative;
      top: 11px;
    }

    
/* Container needed to position the overlay. Adjust the width as needed */
  .img-containers {
    position: relative;
    border: 6px solid white;
  }

  /* Make the image to responsive */
  .image {
    display: block;
    width: 100%;
    height: 200px;
  }
  
  /* The overlay effect - lays on top of the container and over the image */
  .overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:1;
    color: white;
    text-align: center;
  }
  
  /* When you mouse over the container, fade in the overlay title */
  .img-containers:hover .overlay {
    opacity: 0;
   
  }

  .img-containers:hover{
    border: 6px solid rgb(21, 115, 71) ;
  }

.last-section-background{
    background-color: rgb(48, 48,48);
}  
  .green-text-color{
      color: rgb(114,186,136);
  }

  .grey-text-color{
      color: rgb(151, 151, 151);
  }


.link-section {
    list-style-type: none;
    padding-left: 0%;
  }
  
  
.link-items::before{
    content: ">>";
    color: rgb(114,186,136);
  }

  /* Solid border */
hr.solid {
    border-top: 2px solid #bbb;
  }

.form-bg{
    background-color: rgb(34, 34, 34);
    border-color: rgb(34, 34, 34);
}

.last-button-color ,.last-button-color:hover{
    background-color: rgb(114,186,136);;
    
}

.footer-background{
    background-color: rgb(43, 43, 43);
}


